[Unit]
Description=ShakeTorch - Shake phone to turn on flashlight
Requires=dbus.service
After=dbus.service

[Service]
ExecStart=/usr/bin/harbour-shaketorch
Restart=always

[Install]
WantedBy=default.target
